<a href="https://colab.research.google.com/github/manhaesflavia/titanic_pyspark/blob/main/Pyspark_Base_do_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



### Um empresário do ramo de cruzeiros está procurando expandir seus negócios, mas precisa entender melhor seu público-alvo. Ele tem em mãos os dados do "Titanic - Machine Learning from Disaster", que contém informações sobre passageiros do navio Titanic. Com base nesses dados, o empresário pode tomar decisões mais informadas sobre como atrair e atender melhor seus clientes:


1.  O empresário quer saber se há alguma correlação entre a idade dos passageiros do Titanic e a classe em que estavam viajando. Ele gostaria de saber se os passageiros mais velhos tendiam a viajar em classes superiores ou inferiores. Como você poderia ajudá-lo a responder essa pergunta utilizando o conjunto de dados do Titanic?



2.  O empresário está interessado em criar um programa de fidelidade para seus clientes, mas não tem certeza de qual abordagem seria mais eficaz. Ele gostaria de saber se há alguma relação entre o gênero dos passageiros do Titanic e a sobrevivência no navio.



3.  Qual a probabilidade de sobrevivência de um passageiro de primeira classe com menos de 20 anos?



4.  Quais as principais características em comum entre os sobreviventes do desastre do Titanic?



5.  É possível identificar alguma correlação entre a idade e a taxa de sobrevivência dos passageiros que embarcaram em Southampton?



---

# Instalações

In [1]:
!pip install pyspark==3.3.2
from pyspark.sql import SparkSession

Collecting pyspark==3.3.2
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5 (from pyspark==3.3.2)
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 14.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824006 sha256=730d74278e91476fb8e974fd7383a3015ef4a2058df76609a9cc886936620cfa
  Stored in directory: /root/.cache/pip/wheels/89/d6/52/1178e354ba2207673484f0ccd7b2ded0ab6671ae5c1fc5b49a
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
  Attempting uninstall: pyspark
    Found existing installation: pyspark 3.5.3
    Uninstalling pyspark-3.5.3:
      Successfully uninstalled pyspark-3.5.3
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
spark = (
    SparkSession.builder.appName("Titanic - Compreensão do publico alvo").config('spark.sql.repl.eagerEval.enabled', True).getOrCreate()

)

# Importes

In [5]:
df_gender_submission = spark.read.csv(r'/content/drive/MyDrive/Cursos/PySpark/titanic/gender_submission.csv', sep = ',', header = True)
df_test = spark.read.csv(r'/content/drive/MyDrive/Cursos/PySpark/titanic/test.csv', sep = ',', header = True)
df_train = spark.read.csv(r'/content/drive/MyDrive/Cursos/PySpark/titanic/train.csv', sep = ',', header = True)




## 1) O empresário quer saber se há alguma **correlação entre a idade dos passageiros do Titanic e a classe em que estavam viajando**.

Ele gostaria de saber se os passageiros mais velhos tendiam a viajar em classes superiores ou inferiores.



---

Para a resolução será necessário unir os dados de treino e testes, para ter os dados completos da base de dados do titanic. Neste caso, a coluna 'survived' não será utilizada.

In [35]:
# ---- Numero de linhas e colunas de df_test
print("df_test")
print("rows: ", df_test.count())
print("columns: ", len(df_test.columns))
print("\n")

# ---- Numero de linhas de df_train
print("df_train")
print("rows: ", df_train.count())
print("columns: ", len(df_train.columns))
print("\n")
# ---- unionByName para concatenar dois dataframes pyspark, esse método concatena os dataframes baseado no nome da coluna

# Uso do drop no dataframe para remover a coluna 'Survived'.
df_titanic_complete = df_train.drop('Survived').unionByName(df_test)

# ---- Numero de linhas de df_titanic_complete
print("df_titanic_complete")
print("rows: ", df_titanic_complete.count())
print("columns: ", len(df_titanic_complete.columns))

df_test
rows:  418
columns:  11


df_train
rows:  891
columns:  12


df_titanic_complete
rows:  1309
columns:  11

Para avaliar qual método de correlação adequado

In [24]:
Para avaliar qua

DataFrame[PassengerId: string, Pclass: string, Name: string, Sex: string, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: string]